./app/files/
*.pdf
*.docx
./app-web/app/.mypy_cache/*
./app-web/app/.mypy_cache
__pycache__/
*.py[cod]
./.DS_Store
app-web/app/.mypy_cache
app-web/app/.mypy_cache/*
!**/__pycache__/
pycache/
/pycache/

