./app/files/
!/Diagram/*.pdf
*.pdf
*.docx
./app-web/app/.mypy_cache/*
./app-web/app/.mypy_cache
app-web/app/.mypy_cache
app-web/app/.mypy_cache/*
*.py[cod]
./.DS_Store
.DS_Store
__pycache__/
pycache/
/pycache/
