{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<nav>
<ul>
    {% for item in nav.top2 %}
    <li class="{{ 'active' if item.is_active else '' }}">
        <a href="{{ item.url }}">{{ item.label }}</a>
    </li>
    {% endfor %}
</ul>
</nav>

<p style="color:Red">{{ the_attention }}</p>

<p>ЗАРПЛАТА:</p>
<p>Итого к начислению: {{ the_zp_TRY }} TRY</p>
<p>Итого по курсу в RUB: {{ the_zp_RUB }}</p>
<p>Итого по курсу в USD: {{ the_zp_USD }}</p><br>

<p>ДОПОЛНИТЕЛЬНЫЙ ДОХОД (совмещение и пр.):</p>
<p>Доплата (совмещение и пр.) к начислению: {{ the_zp_sovm_TRY }} TRY</p>
<p>Доплата (совмещение и пр.) по курсу в RUB: {{ the_zp_sovm_RUB }}</p>
<p>Доплата (совмещение и пр.) по курсу в USD: {{ the_zp_sovm_USD }}</p><br>

<p>ПРЕМИЯ ПО КПЭ:</p>
<p>Итого к начислению: {{ the_bonus_TRY }} TRY</p>
<p>Итого по курсу в RUB: {{ the_bonus_RUB }}</p>
<p>Итого по курсу в USD: {{ the_bonus_USD }}</p>

<p>
	<a href="{{ url_for('.download_file_pdf2') }}">Скачать полный отчет в формате .PDF</a>
</p>


<nav>
    <ul>
        {% for item in nav.sig %}
        <li class="{{ 'active' if item.is_active else '' }}">
            <a href="{{ item.url }}">{{ item.label }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>

</form>
{% endblock %}
