{% extends 'base.html' %}

{% block body %}
<script>

</script>

<h2>{{ the_title }}</h2>

<nav>
<ul>
    {% for item in nav.top %}
    <li class="{{ 'active' if item.is_active else '' }}">
        <a href="{{ item.url }}">{{ item.label }}</a>
    </li>
    {% endfor %}
</ul>
</nav>

<form method='POST'>
<input type="checkbox" id="test2" name="test2" value="true">
<label for="test2"> Подтверждаю свое согласие с результатом рассчета </label><br>
<p>Ввести логин и пароль (как от компьютера):</p>
<p style="color:Red"> {{ the_login_result }} </p>
<p><input name="username" placeholder="i.ivanov" size="20"></p>
<p><input name="password" placeholder="password" size="20" type="password"></p>
<p><input type="submit" value="Готово"></p>
</form>
{% endblock %}

