{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<nav>
<ul>
    {% for item in nav.top %}
    <li class="{{ 'active' if item.is_active else '' }}">
        <a href="{{ item.url }}">{{ item.label }}</a>
    </li>
    {% endfor %}
</ul>
</nav>
<p>ВВОДНЫЕ ДАННЫЕ</p>
<p>Оклад: {{ the_oklad }} TRY.</p>
<p>ИСН (индивидуальная стимулирующая надбавка): {{ the_isn }} TRY.</p>
<p>Доплата (совмещение и пр.): {{ the_extra }} TRY</p>
<p>Целевой размер премии по КПЭ: {{ the_targetkpi }} У.Е.</p>
<p>Курс USD/RUB: {{ the_usd_rub }}</p>
<p>Курс USD/TRY: {{ the_usd_try }}</p>
<p>Курс TRY/RUB: {{ the_try_rub }}</p>
<p></p>
<p>ЗАРПЛАТА</p>
<p>Эквивалент заработной платы: {{ the_ezp }} У.Е.</p>
<p>Оклад: {{ the_oklad }} TRY.</p>
<p>ИСН (индивидуальная стимулирующая надбавка): {{ the_isn }} TRY.</p>
<p>Индексирующая выплата: {{ the_indincome }} TRY</p>
<p>Доплата до эквивалента: {{ the_zp_extra }} TRY</p>
<p>Итого к начислению в TRY: {{ the_zp_TRY }}</p>
<p>Итого по курсу в RUB: {{ the_zp_RUB }}</p>
<p>Итого по курсу в USD: {{ the_zp_USD }}</p>
<p></p>
<p>ДОПОЛНИТЕЛЬНЫЙ ДОХОД (совмещение и пр.)</p>
<p>Доплата (совмещение и пр.): {{ the_extra }} TRY</p>
<p>Доплата (совмещение и пр.) к начислению: {{ the_extra_2_try }} TRY</p>
<p>Доплата (совмещение и пр.) к начислению: {{ the_extra_2_rub }} RUB</p>
<p>Доплата (совмещение и пр.) к начислению: {{ the_extra_2_usd }} USD</p>
</p> <p>
<p>ПРЕМИЯ</p>
<p>Эквивалент целевого размера премии по КПЭ: {{ the_ebonus }} У.Е.</p>
<p>Доплата до эквивалента: {{ the_bonus_plus }} TRY</p>
<p>Итого к начислению в TRY: {{ the_bonus_TRY }}</p>
<p>Итого по курсу в RUB: {{ the_bonus_RUB }}</p>
<p>Итого по курсу в USD: {{ the_bonus_USD }}</p>


{% endblock %}
