{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<nav>
  <ul>
    <li>
      <!-- link one -->
      <a href="http://{{ the_SERVER_PUB_NAME_IP }}:{{ the_SERVER_PUB_PORT }}/doc1"> Релокация. Заявление на билеты и гостиницу </a>
    </li>
    <li>
      <!-- link two -->
      <a href="http://{{ the_SERVER_PUB_NAME_IP }}:{{ the_SERVER_PUB_PORT }}/doc2"> Заявление на ... </a>
    </li>
    <li>
      <!-- link three -->
      <a href="http://{{ the_SERVER_PUB_NAME_IP }}:{{ the_SERVER_PUB_PORT }}/doc3"> Заявление на ... </a>
    </li>
  </ul>
</nav>

{% endblock %}
